html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: azure;
}

h5, p{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.carousel-inner{
    height:40em;
}

img {
    width: auto;
    height:40em;
    resize:block;
    image-resolution: 500dpi;
    opacity:.6;
}